@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["Teacher"]</h3>

<address>
    <strong>More Information: </strong> <a href="http://www.educandoweb.com.br">EducandoWeb.com</a>
</address>
